body {
    background-image: url('H.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dv {
    background-color: black;
    width: 500px;
    height: 500px;
    position: relative;
    top: 150px;
    left: 600px;
}

form {
    position: relative;
    top: 20px;
    left: 45px;
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
}

.face {
    color: blue;
    text-align: center;
}

.txt {
    border-radius: 20px;
    height: 30px;
    position: relative;
    left: 100px;
    border: black solid;
    color: red;
}

.btn {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-color: saddlebrown;
    position: relative;
    left: 35px;
}

.forget {
    position: relative;
    left: 100px;
}

.su {
    position: relative;
    left: 100px;
}

.list {
    margin-left: 83%;
    position: fixed;
    top: 0;
    text-align: center;
}

.list li {
    margin: 0;
    padding: 0;
    font-size: 28px;
    margin-left: 0;
    background-color: black;
    width: 160px;
    height: 60;
    position: relative;
    top: 0;
    list-style-type: none;
    padding: 60px;
    color: cornsilk;
}

.list li:hover {
    background-color: white;
    color: black;
    width: 160px;
}